.slider_Gas{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.slides_Gas{
  width: 300%;
  height: 400px;
  display: flex;
}

.slides_Gas input{
  display: none;
}

.slide_Gas{
  width: 33.3%;
  position: relative;
  transition: 1s;
}

.slide_Gas img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.manual-navigation_Gas{
  position: absolute;
  width: 400px;
  height: 40px;
  margin-top: -58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn_Gas{
  border: 2px solid var(--corEmpresa);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn.bt1_Gas{
  margin-left: 150px;
}
.manual-btn.bt2_Gas{
  margin-left: 204px;
}
.manual-btn.bt3_Gas{
  margin-left: 258px;

}

.manual-btn:hover{
  background-color: var(--corEmpresa);
}

#radio1_Gas:checked ~ .first_Gas{
  margin-left: 0;
}

#radio2_Gas:checked ~ .first_Gas{
  margin-left: -33.3%;
}

#radio3_Gas:checked ~ .first_Gas{
  margin-left: -66.6%;
}

.navigation-auto_Gas div{
  border: 2px solid var(--corEmpresa);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

.navigation-auto_Gas{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: flex-start;
  padding-left: 150px;
}

.navigation-auto_Gas div:not(:last-child){
  margin-right: 40px;
}

#radio1_Gas:checked ~ .navigation-auto_Gas .auto-btn1_Gas{
  background-color:  var(--corEmpresa);
}

#radio2_Gas:checked ~ .navigation-auto_Gas .auto-btn2_Gas{
  background-color:  var(--corEmpresa);
}

#radio3_Gas:checked ~ .navigation-auto_Gas .auto-btn3_Gas{
  background-color: var(--corEmpresa);
}
