.slider_Esgoto{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.slides_Esgoto{
  width: 300%;
  height: 400px;
  display: flex;
}

.slides_Esgoto input{
  display: none;
}

.slide_Esgoto{
  width: 33.3%;
  position: relative;
  transition: 1s;
}

.slide_Esgoto img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

.manual-navigation_Esgoto{
  position: absolute;
  width: 400px;
  height: 40px;
  margin-top: -58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn_Esgoto{
  border: 2px solid var(--corEmpresa);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn.bt1_Esgoto{
  margin-left: 150px;
}
.manual-btn.bt2_Esgoto{
  margin-left: 204px;
}
.manual-btn.bt3_Esgoto{
  margin-left: 258px;

}

.manual-btn:hover{
  background-color: var(--corEmpresa);
}

#radio1_Esgoto:checked ~ .first_Esgoto{
  margin-left: 0;
}

#radio2_Esgoto:checked ~ .first_Esgoto{
  margin-left: -33.3%;
}

#radio3_Esgoto:checked ~ .first_Esgoto{
  margin-left: -66.6%;
}

.navigation-auto_Esgoto div{
  border: 2px solid var(--corEmpresa);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

.navigation-auto_Esgoto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: flex-start;
  padding-left: 150px;
}

.navigation-auto_Esgoto div:not(:last-child){
  margin-right: 40px;
}

#radio1_Esgoto:checked ~ .navigation-auto_Esgoto .auto-btn1_Esgoto{
  background-color:  var(--corEmpresa);
}

#radio2_Esgoto:checked ~ .navigation-auto_Esgoto .auto-btn2_Esgoto{
  background-color:  var(--corEmpresa);
}

#radio3_Esgoto:checked ~ .navigation-auto_Esgoto .auto-btn3_Esgoto{
  background-color: var(--corEmpresa);
}
